.form-container{
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    margin-right: 3em;
    justify-content: space-between;
    
}

.element{
    padding: 0.5em;
}

.button-flex{
    display: flex;
    justify-content: center;
    margin: 5em;
}